* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fondamento', cursive;
}

.container {
    padding: 24px 0;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.tioloImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.inserisci {
    border-radius: 4px;
    box-shadow: 1px 1px 40px -10px #31505f30, 0px 1px 2px 0px #31505f30;
    background: white;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attivita {
    border-radius: 4px;
    box-shadow: 1px 1px 40px -10px red, 0px 1px 2px 0px white;
    background: white;
    margin-bottom: 24px;
    padding: 16px 24px;
}

.svoltoTutto {
    text-align: center;
    font-size: 70px;
    background-image: linear-gradient(to top left, #93C572, #CE3018);
    color: black;
    font-family: 'Dancing Script', cursive;
}

input {
    border-radius: 4px;
    background: transparent;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 1px solid transparent;
    height: 100%;
    display: block;
    outline: none;
}

button {
    background: #4fc08d;
    padding: 10px 22px;
    border: none;
    color: white;
    border-radius: 4px;
    margin: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 15px -2px #212c4430;
}

button:hover {
    background: #CCFF00;
}
  
button:disabled {
    background: #DC143C;
    color: #555;
    cursor: not-allowed;
}

.list{
    list-style: none;
}

.list-item {
    padding: 12px 16px 12px 16px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 6px;
    border-radius: 4px;
}
  
.list-item-delete {
    margin-left: auto;
    margin-top: -2px;
    font-weight: bold;
}