<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>TodoList with Vue</title>
</head>
<body>
    
    <div class="container">
        <div id="app">

            <!-- titolo + immagine -->
            <h1>{{titolo}}</h1>
            <!-- <img src="" alt=""> -->

            <!-- dove inserire le attività da svolgere -->
            <div class="inserisci">
                <input type="text" v-model="nuovoItem" placeholder="Inserisci una nuova attivit&agrave; da svolgere" @keyup.enter="aggiungiItem">
                <!-- inserire nel button un method -->
                <button @click="aggiungiItem">Aggiungi</button>
            </div>

            <!-- dove visualizzare le attivtà da svolgere -->
            <div class="attivita">
                <!-- elenco puntato per indicare le attivtà da svolgere -->
                <ul class="list">
                    <li class="list-item" v-for="item in reversedItems">
                        <div class="list-item-delete" @click="removeItem(item)">{{item}} X</div>
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <script src="js/script.js"></script>

</body>
</html>