<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>TodoList with Vue</title>
</head>
<body>
    
    <div class="container">
        <div id="app">

            <!-- titolo + immagine -->
            <div class="titoloImg">
                <img :src="immagine" style="transform: scaleY(-1);">
                <h1> {{titolo}}</h1>
            </div>

            <!-- dove inserire le attività da svolgere -->
            <h1 id="titolo2"> {{titolo2}} </h1>
            <div class="inserisci">
                <input type="text" v-model="nuovoItem" placeholder="Inserisci una nuova attivit&agrave; da svolgere" @keyup.enter="aggiungiItem">
                <button @click="aggiungiItem" :disabled="nuovoItem.length === 0">Aggiungi</button>
            </div>

            <!-- dove visualizzare le attivtà da svolgere -->
            <div class="attivita">
                <!-- elenco puntato per indicare le attivtà da svolgere -->
                <ul class="list">
                    <li v-if="items.length === 0" class="svoltoTutto">
                    <!-- se items.length è vuota stampa il messaggio -->
                        Complimenti hai svolto tutte le attivit&agrave;! <br> &#128540;
                    </li>
                    <li class="list-item" :class="{completed: item.completed}" v-for="item in reversedItems">
                    <!-- altrimenti stampa la lista delle cose da fare -->
                        <div class="list-item-contenuto" @click="completedItem(item)"></div><span>{{item.name}}</span>
                        <div class="list-item-delete" @click="removeItem(item)">X</div>
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <script src="js/script.js"></script>

</body>
</html>